@import "_variables";

.body{
	height: 100vh;
	background-color: $grisFondo;
	font-family: 'Fredoka', sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 0.2fr auto 3.75rem;
	justify-items: center;
	grid-template-areas: "header"
	"section" 
	"footer";
}