@import "_body";

@import "_variables";

@import "_footer";

.section{
    grid-area: section;
    width: 90%;
    max-width: 1200px;
	display: flex;
    flex-direction: column;
  	align-items: center;   
    margin-bottom: 30px;
    .article{
        width: 90%;
        max-width: 1200px;
        justify-content: center;
        .title__categoria{
            @include textos;
            display: flex;
            justify-content: center;
            padding: 10px;
            margin: 10px;
        }
        .div__productos{
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .productos{
                display: flex;
                height: auto;
                width: auto;
                align-items: stretch;
                flex-wrap: wrap;
                justify-content: center;
                .computadora1{
                    @extend .card;
                    cursor: pointer;
                }
                .computadora1:hover{
                    box-shadow: 0px 20px 35px 0px $boxShadow;
                    z-index: 1;
                    transition: -webkit-box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
                }
                .img__txt{
                    @include textos;
                }
                .computadora2{
                    @extend .card;
                    cursor: pointer;
                }
                .computadora2:hover{
                    box-shadow: 0px 20px 35px 0px $boxShadow;
                    z-index: 1;
                    transition: -webkit-box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
                }
                .img__txt{
                    @include textos;
                }
                .celular1{
                    @extend .card;
                    cursor: pointer;
                }
                .celular1:hover{
                    box-shadow: 0px 20px 35px 0px $boxShadow;
                    z-index: 1;
                    transition: -webkit-box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
                }
                .img__txt{
                    @include textos;
                }
                .computadora3{
                    @extend .card;
                    cursor: pointer;
                }
                .computadora3:hover{
                    box-shadow: 0px 20px 35px 0px $boxShadow;
                    z-index: 1;
                    transition: -webkit-box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
                }
                .img__txt{
                    @include textos;
                }
                .celular2{
                    @extend .card;
                    cursor: pointer;
                }
                .celular2:hover{
                    box-shadow: 0px 20px 35px 0px $boxShadow;
                    z-index: 1;
                    transition: -webkit-box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
                }
                .img__txt{
                    @include textos;
                }
                .celular3{
                    @extend .card;
                    cursor: pointer;
                }
                .celular3:hover{
                    box-shadow: 0px 20px 35px 0px $boxShadow;
                    z-index: 1;
                    transition: -webkit-box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out;
                    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
                }      
            }
        }
    }
}