$azulHeader: #235b7d;

$azulHeaderHover: #2a6d95;

$grisFondo: #ededed;

$grisSearch: #bfbfbf;

$blanco: #ffff;

$grisFont: #d3d3d3;

$negro: #00000000;

$boxShadow: #cfcfcf;

$boxShadowForm: #6c757d;
